In [84]:
import pandas as pd
df1 = pd.read_csv('上市公司資料.csv')
df2 = df1.set_index('公司名稱')

df3=df2.drop(columns = ['出表日期','資料年月','營業收入-去年當月營收',
                        '營業收入-上月比較增減(%)','營業收入-去年同月增減(%)',
                        '累計營業收入-當月累計營收','累計營業收入-去年累計營收',
                        '累計營業收入-前期比較增減(%)','備註'])
df3['公司代號'] = df3['公司代號'].astype(str)
df3['營業收入-當月營收'] = df3['營業收入-當月營收'].astype(str)
df3['營業收入-上月營收'] = df3['營業收入-上月營收'].astype(str)
df3

      公司代號   產業別 營業收入-當月營收 營業收入-上月營收
公司名稱
亞泥    1102  水泥工業   7069221   7864622
幸福    1108  水泥工業    390053    326691
信大    1109  水泥工業    478276    557403
東泥    1110  水泥工業    176935    134470
大飲    1213  食品工業     38696     29503
...    ...   ...       ...       ...
茂順    9942    其他    352730    349111
好樂迪   9943  觀光事業    212912    197756
新麗    9944    其他    179660    231139
佳龍    9955    其他     81881     85625
世紀鋼   9958  鋼鐵工業    757968    651699

[839 rows x 4 columns]

In [76]:
df3['公司代號'] = df3['公司代號'].astype(str)
df3['營業收入-當月營收'] = df3['營業收入-當月營收'].astype(str)
df3['營業收入-上月營收'] = df3['營業收入-上月營收'].astype(str)
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 839 entries, 亞泥 to 世紀鋼
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   公司代號       839 non-null    object
 1   產業別        839 non-null    object
 2   營業收入-當月營收  839 non-null    object
 3   營業收入-上月營收  839 non-null    object
dtypes: object(4)
memory usage: 65.1+ KB