In [ ]:
import pandas_datareader.data as pdr
import yfinance as yf

yf.pdr_override()
pdr.get_data_yahoo('AAPL')

In [ ]:
all_data = {ticker:pdr.get_data_yahoo(ticker) for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}
all_data

In [ ]:
tickers = {'AAPL':"apple",'IBM':'ibm','MSFT':'美孚','GOOG':'google'}

for key,value in tickers.items():
    print(key)
    print(value)

In [6]:
import pandas as pd
prices = pd.DataFrame({key:dataFrame['Adj Close'] for key,dataFrame in all_data.items()})
prices

                  AAPL         IBM        MSFT        GOOG
Date
1962-01-02         NaN    1.526557         NaN         NaN
1962-01-03         NaN    1.539901         NaN         NaN
1962-01-04         NaN    1.524555         NaN         NaN
1962-01-05         NaN    1.494532         NaN         NaN
1962-01-08         NaN    1.466509         NaN         NaN
...                ...         ...         ...         ...
2024-06-24  208.139999  175.009995  447.670013  180.789993
2024-06-25  209.070007  172.600006  450.950012  185.580002
2024-06-26  213.250000  171.869995  452.160004  185.369995
2024-06-27  214.100006  170.850006  452.850006  186.860001
2024-06-28  210.619995  172.949997  446.950012  183.419998

[15730 rows x 4 columns]

In [ ]:
df1=prices.dropna()
df1.info()

In [ ]:
df1.loc['2024']

In [ ]:
df1.loc['2024-05']

In [10]:
df1.loc['2024-05-01']

AAPL    169.070679
IBM     162.813766
MSFT    394.228912
GOOG    165.381805
Name: 2024-05-01 00:00:00, dtype: float64